@charset "UTF-8";
body {
	font-family: 'Roboto', sans-serif !important;
	color: #2b2f4c;
	/* background-color: #f7f7f7; */
  padding-top: 57px;
}
[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.bg-sign {
	background: #4775bd;
    background-image: linear-gradient(to right, rgb(80 150 183 / 90%), rgb(154 103 87 / 90%)) !important;
}
.navbar {
  background-color: #f7f7f7e6;
}
.navbar a {
  color: #000000;
}
.navbar a:hover {
  text-decoration: none;
}
.form-label {
  font-size: 14px;
}
.form-control {
  font-size: 14px;
  color: #2b2f4c;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.2);
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}
.form-control[type='file'] {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.form-control:focus,
.form-control:hover {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 0 1px #80bdff;
}

/* === Body Scrollbar === */

::-webkit-scrollbar {
  width: 8px;
  height: 14px;
  background-color: rgba(245,93,44,.8);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  height: 4px;
  border: 1px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: #4f92b8;
  -webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,.05), inset 1px 1px 0 rgba(0,0,0,.05);
}